:root {
  --basic-red: #EE3643;
  --basic-darkest-red: #BA2732;
  --basic-dark-red: #CA2C37;
  --basic-pink: #DC91D8;
  --basic-skyblue: #3BBCE3;
  --basic-dark-gray: #293449;
  --basic-darker-gray: #212A3A;
  --basic-darkest-gray: #161D29;
  --basic-gray: #32425C;
  --basic-shadow-gray: #3d4b61;
  --basic-light-gray: #A9A9A9;
  --basic-lightest-gray: #dfdede;
  --basic-green: #63A63E;
  --basic-light-green: #74da4c;
  --basic-dark-green: #518534;
  --basic-darkest-green: #44702d;
  --basic-smoke-green: #8ED78F;
  --basic-yellow: #FFBF47;
  --basci-light-yellow: #FFC047;
  --basic-lemon: #FFD180;
  --basic-light-beige: #F7F3EC;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-background: #f1f5f7;
  --basic-sort-buttons: #C5C5C5;
  --basic-white-transparent: rgba(255, 255, 255, 0.3);
  --basic-white-semi-transparent: rgba(255, 255, 255, 0.2);
  --basic-black-semi-transparent:rgba(0, 0, 0, 0.1);
  --basic-black-transparent: rgba(0, 0, 0, 0.2);
}

/*FONTS*/

@font-face {
  font-family: "Cuprum";
  src:
    url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src:
    url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src:
    url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src:
    url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*PAGES*/

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-gray);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-red);
  color: var(--basic-white);
  min-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.button:hover {
  background-color: var(--basic-dark-red);
}

.button:active {
  background-color: var(--basic-darkest-red);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.page {
  height: 100%;
}

/*HEADER*/

.main-header {
  margin-bottom: 70px;
  background-color: var(--basic-background);
}

.main-header-bar-background {
  background-color: var(--basic-dark-gray);
  height: min-content;
}

.main-header-bar {
  display: flex;
  align-items: top;
  margin-bottom: 20px;
  padding: 0;
  justify-content: flex-start;
}

.main-logo {
  display: flex;
  min-width: 220px;
  height: 39px;
  background-color: var(--basic-red);
  text-align: center;
  font-size: 23px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 0 0 var(--basic-dark-red);
  margin: 0;
}

.main-logo:active {
  background-color: var(--basic-dark-red);
  box-shadow: 0 5px 0 0 var(--basic-darkest-red);
  transition: 300ms ease-out;
}

.search-form input {
  background-color: transparent;
  outline: none;
  justify-self: start;
  height: 39px;
  width: 272px;
  margin: 0;
  padding-left: 42px;
  padding-right: 20px;
  box-shadow: none;
  border: none;
  align-self: flex-start;
}

.search-form {
  position: relative;
}

.search-form input::placeholder {
  color: var(--basic-white);
}

.search-form svg {
  position: absolute;
  top: 12px;
  left: 15px;
  fill: var(--basic-light-gray);
}

.search-field:hover + svg {
  fill: var(--basic-white);
  transition: 300ms ease-out;
}

.search-field:focus + svg {
  fill: var(--basic-red);
  transition: 300ms ease-out;
}

.search-field:focus {
  background-color: var(--basic-white);
  transition: 300ms ease-out;
}

.search-form label {
  color: var(--basic-white);
}

.user-controls {
  min-height: 39px;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  margin-left: auto;
  justify-content: flex-end;
}

.user-controls-item {
  padding-top: 8px;
  padding-bottom: 7px;
  margin: 0;
  padding-left: 18px;
  padding-right: 16px;
  position: relative;
}

.main-header-bookmarks,
.main-header-cart {
  padding-left: 45px;
  padding-right: 25px;
}

.bookmarks-active,
.cart-active {
  padding-left: 40px;
  padding-right: 25px;
  background-color: var(--basic-red);
}

.main-header-bookmarks::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 23px;
  width: 14px;
  height: 14px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-header-cart::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 23px;
  width: 14px;
  height: 14px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.catalog-cart::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 20px;
  width: 14px;
  height: 14px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-header-bookmarks:hover::before,
.main-header-cart:hover::before,
.catalog-cart:hover::before {
  opacity: 1;
  transition: 300ms ease-out;
}

.main-header-order {
  background-color: var(--basic-green);
  padding-left: 18px;
  padding-right: 18px;
}

.main-header-bookmarks:active,
.main-header-cart:active {
  background-color: var(--basic-darkest-gray);
  color: var(--basic-white);
  opacity: 50%;
  transition: 300ms ease-out;
}

.main-header-order:active {
  color: var(--basic-white);
  opacity: 50%;
  background-color: var(--basic-green);
  transition: 300ms ease-out;
}

.header-description {
  display: flex;
  align-items: center;
}

.main-description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  padding-left: 20px;
  margin-right: 93px;
}

.main-header-contacts {
  text-align: center;
  max-width: 270px;
  margin-right: 51px;
}

.header-phone {
  display: flex;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  border: 3px solid var(--basic-white);
  margin-bottom: 0;
  height: 42px;
  width: 270px;
  align-items: center;
  box-sizing: border-box;
}

.header-phone a {
  color: var(--basic-red);
  padding-left: 74px;
  display: block;
  position: relative;
}

.header-phone a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 40px;
  width: 18px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  justify-self: center;
  margin-top: 2px;
}

.header-description-wrapper {
  display: flex;
  align-items: baseline;
}

.index-user-links {
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  display: flex;
  gap: 10px;
  justify-self: center;
  padding: 0;
  margin: 0;
  margin-left: 28px;
}

.catalog-user-links {
  list-style: none;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 18px;
  row-gap: 7px;
  text-align: center;
  justify-self: center;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  box-sizing: border-box;
}

.user-links-item {
  background-color: var(--basic-white);
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-user-links a {
  color: var(--basic-black);
}

.index-user-links a {
  color: var(--basic-black);
}

.login {
  position: relative;
}

.login {
  width: 121px;
}

.registration {
  width: 150px;
}

.login a {
  padding-left: 20px;
}

.login::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 20px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login:hover::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 20px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: 300ms ease-out;
}

.login:active::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 20px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: 300ms ease-out;
}

.login:hover a {
  color: var(--basic-red);
  transition: 300ms ease-out;
}

.login:active a {
  color: var(--basic-light-gray);
  transition: 300ms ease-out;
}

.registration:hover a {
  color: var(--basic-red);
  transition: 300ms ease-out;
}

.registration:active a {
  color: var(--basic-light-gray);
  transition: 300ms ease-out;
}

.username {
  grid-column: span 2;
  min-width: 299px;
  height: 45px;
  font-size: 21px;
  line-height: 21px;
  position: relative;
}

.username .user-name::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 15px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.username svg {
  position: absolute;
  top: 13px;
  left: 265px;
  width: 20px;
  height: 18px;
  cursor: pointer;
}

.username svg:hover {
  fill: var(--basic-gray);
  transition: 300ms ease-out;
}

.username svg:active {
  fill: var(--basic-light-gray);
  transition: 300ms ease-out;
}

.username .user-name:hover::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 15px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: 300ms ease-out;
}

.username .user-name:active::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 15px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: 300ms ease-out;
}

.my-orders a,
.cabinet a {
  font-size: 16px;
  margin: 0;
}

.my-orders {
  position: relative;
}

.my-orders::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 142px;
  width: 6px;
  height: 7px;
  background-image: url("../img/username-dot.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.my-orders a:hover,
.cabinet a:hover {
  color: var(--basic-red);
  transition: 300ms ease-out;
}

.username a:active,
.my-orders a:active,
.cabinet a:active {
  color: var(--basic-light-gray);
  transition: 300ms ease-out;
}

.main-navigation {
  background-color: var(--basic-gray);
  color: var(--basic-white);
  margin-bottom: 55px;
  padding: 0;
}

.main-navigation-list {
  list-style: none;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  box-shadow: inset 0 -4px 0 0 var(--basic-dark-gray);
  box-sizing: border-box;
}

.main-navigation-item a{
  height: 56px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-navigation-item:hover {
  background-color: var(--basic-dark-gray);
  transition: 300ms ease-out;
}

.main-navigation-item:active {
  background-color: var(--basic-darkest-gray);
  color: var(--basic-white);
  opacity: 50%;
  transition: 300ms ease-out;
}

/*MAIN-INDEX*/

.quick-links{
  margin-bottom: 69px;
}

.quick-links-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
  grid-template-areas:
  "materials instruments technics"
  "slider slider discount"
  "slider slider delivery";
}

.quick-links-item {
  color: var(--basic-white);
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 23px;
}

.quick-link-button {
  min-width: 135px;
  max-width: 175px;
  min-height: 38px;
  background-color: var(--basic-white-transparent);
  padding: 10px 22px ;
}

.quick-link-button:hover {
  background-color: var(--basic-white-semi-transparent);
  transition: 300ms ease-out;
}

.quick-link-button:active {
  background-color: var(--basic-black-semi-transparent);
  transition: 300ms ease-out;
}

.quick-links-item h2 {
  margin-top: 20px;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.quick-materials {
  grid-area: materials;
  background-color: var(--basic-yellow);
  box-sizing: border-box;
  position: relative;
}

.quick-materials img {
  position: absolute;
  top: 31px;
  left: 213px;
}

.quick-materials .new-item {
  position: absolute;
  top: 0;
  left: 230px;
}

.quick-instruments {
  grid-area: instruments;
  background-color: var(--basic-skyblue);
  box-sizing: border-box;
  position: relative;
}

.quick-instruments img {
  position: absolute;
  top: 34px;
  left: 194px;
}

.quick-technics {
  grid-area: technics;
  background-color: var(--basic-pink);
  box-sizing: border-box;
  position: relative;
}

.quick-technics img {
  position: absolute;
  top: 31px;
  left: 191px;
}

.quick-discount50 {
  grid-area: discount;
  background-color: var(--basic-smoke-green);
  box-sizing: border-box;
  position: relative;
}

.quick-discount50 img {
  position: absolute;
  top: 26px;
  left: 196px;
}

.quick-delivery {
  grid-area: delivery;
  background-color: var(--basic-yellow);
  box-sizing: border-box;
  position: relative;
}

.quick-delivery img {
  position: absolute;
  top: 32px;
  left: 191px;
}

.slider {
  grid-area: slider;
  width: 620px;
  height: 266px;
  padding: 0;
}

.slider-button {
  background-color: var(--basic-red);
  display: inline-block;
  min-width: 192px;
  min-height: 38px;
  max-height: 50px;
  margin-left: 24px;
  margin-right: 24px;
  padding: 10px 60px;
}

.slider-perforators {
  background-color: var(--basic-light-gray);
  background-image: url("../img/perforators.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slider-drills {
  background-color: var(--basic-light-gray);
  background-image: url("../img/drills.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slider-header-back {
  background-color:rgba(0, 0, 0, 0.25);
  width: 620px;
  height: 104px;
  margin-bottom: 10px;
}

.slider-header {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 23px;
  height: 104px;
  color: var(--basic-white);
  margin: 0;
}

.slider-header h2{
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-header p {
  margin-top: 5px;
}

.slider-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0;
  margin-bottom: 15px;
}

.slider-button-back,
.slider-button-next {
  position: relative;
  border: none;
  background: none;
}

.slider-button-back::before {
  content: "";
  position: absolute;
  top: -27px;
  left: 22px;
  width: 22px;
  height: 40px;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.slider-button-next::before {
  content: "";
  position: absolute;
  top: -27px;
  left: -30px;
  width: 22px;
  height: 40px;
  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.slider-button-back:focus::before {
  content: "";
  position: absolute;
  top: -27px;
  left: 22px;
  width: 22px;
  height: 40px;
  background-image: url("../img/icon-left-focus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: 300ms ease-out;
}

.slider-button-next:focus::before {
  content: "";
  position: absolute;
  top: -27px;
  left: -30px;
  width: 22px;
  height: 40px;
  background-image: url("../img/icon-right-focus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: 300ms ease-out;
}

.slider-button-back:focus,
.slider-button-next:focus {
  border: none;
  outline: none;
}

.popular-items {
  margin-bottom: 70px;
}

.popular-items-header {
  background-color: var(--basic-light-beige);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 89px;
  margin-bottom: 20px;
}

.popular-items-header h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-items-button {
  padding-left: 24px;
  padding-right: 24px;
}

.popular-items-list {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: stretch;
  margin: 0;
  padding: 0;
}

.catalog-item {
  width: 220px;
  min-height: 318px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  border: 1px solid var(--basic-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.catalog-item:hover {
  box-shadow: 0 5px 15px 3px var(--basic-lightest-gray);
  transition: 300ms ease-out;
}

.catalog-item .new-item {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.catalog-item h3 {
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin-left: 18px;
  margin-right: 18px;
}

.product-card-image {
  order: -1;
  width: 100%;
  height: 164px;
  background-color: var(--basic-white);
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.catalog-item-hover-buttons {
  order: -1;
  padding: 41px;
  position: absolute;
  background-color: var(--basic-white);
  opacity: 0;
}

.catalog-item:hover .catalog-item-hover-buttons {
  opacity: 1;
  transition: 300ms ease-out;
}

.buy-button {
  background-color: var(--basic-green);
  color: var(--basic-white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 53px;
  padding-right: 40px;
  border: none;
  border-radius: 2px;
  box-shadow: inset 0 -3px 0 0 var(--basic-darkest-green);
  position: relative;
  margin-bottom: 10px;
  width: 135px;
  cursor: pointer;
}

.buy-button::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 30px;
  width: 14px;
  height: 14px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.buy-button:hover {
  background-color: var(--basic-light-green);
  transition: 300ms ease-out;
}

.buy-button:active {
  background-color: var(--basic-dark-green);
  transition: 300ms ease-out;
}

.bookmark-button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  background-color: var(--basic-white);
  color: var(--basic-gray);
  padding-left: 30px;
  padding-right: 30px;
  width: 135px;
  cursor: pointer;
}

.bookmark-button:hover {
  border: 3px solid var(--basic-gray);
  background-color: var(--basic-white);
  transition: 300ms ease-out;
}

.bookmark-button:active {
  border: 3px solid var(--basic-light-gray);
  color: var(--basic-light-gray);
  transition: 300ms ease-out;
}

.catalog-item a {
  color: var(--basic-black);
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-light-gray);
  text-decoration: line-through;
  margin-top: 0;
  margin-bottom: 18px;
}

.without-discount {
  opacity: 0;
}

.item-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
  color: var(--basic-white);
  position: relative;
}

.catalog-item::before {
  content: "";
  position: absolute;
  bottom: 22px;
  left: 45px;
  width: 141px;
  height: 38px;
  background-image: url("../img/price-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.popular-brands {
  margin-bottom: 70px;
}

.popular-brands-header {
  background-color: var(--basic-light-beige);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 89px;
  margin-bottom: 20px;
}

.popular-brands-header h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-brands-button {
  padding-left: 39px;
  padding-right: 38px;
}

.popular-brands-list {
  list-style: none;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 145px 145px;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.popular-brand a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 145px;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-background);
}

.popular-brand img {
  margin: auto;
}

.popular-brand:active {
  opacity: 50%;
  transition: 300ms ease-out;
}

.popular-brand:hover {
  box-shadow: 0 5px 15px 3px var(--basic-lightest-gray);
  transition: 300ms ease-out;
}

.services-background {
  background-color: var(--basic-background);
}

.services {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-areas:
  "services-heading services-heading"
  "services-description services-description"
  "services-list services-list-description";
  padding-top: 68px;
  padding-bottom: 54px;
}

.services h2{
  grid-area: services-heading;
  margin-top: 0;
  margin-bottom: 0;
}

.services-description {
  grid-area: services-description;
  margin-bottom: 21px;
  margin-top: 21px;
}

.services-list {
  grid-area: services-list;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 240px;
  height: 279px;
  position: relative;
  box-sizing: border-box;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-gray);
  list-style: none;
}

.services-list::after {
  content: "";
  position: absolute;
  top: 0;
  left: 230px;
  width: 10px;
  height: 279px;
  background-image: url("../img/services-shadow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-list-description {
  grid-area: services-list-description;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
}

.delivery-description {
  position: relative;
}

.delivery-description::after {
  content: "";
  position: absolute;
  top: 70px;
  left: 230px;
  width: 468px;
  height: 261px;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.guarantee-description {
  position: relative;
  display: none;
}

.guarantee-description::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 300px;
  width: 389px;
  height: 283px;
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.credit-description {
  position: relative;
  display: none;
}

.credit-description::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 230px;
  width: 465px;
  height: 285px;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.credit-button {
  display: inline-block;
  width: 195px;
  border-radius: 3px;
  font-family: "Cuprum", "Arial", sans-serif;
  padding: 10px 40px;
  text-align: center;
}

.services h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.service {
  width: 240px;
  height: 61px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
  cursor: pointer;
}

.service-active {
  background-color: var(--basic-white);
  color: var(--basic-gray);
}

.service-inactive {
  background-color: var(--basic-gray);
  color: var(--basic-white);
  box-shadow:
  inset 0 -1px 0 0 var(--basic-dark-gray),
  inset 0 1px 0 0 var(--basic-shadow-gray);
}

.service-inactive:hover {
  background-color: var(--basic-dark-gray);
  box-shadow: none;
  transition: 300ms ease-out;
}

.services h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-gray);
}

.contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  padding-top: 70px;
}

.contacts-section {
  margin-right: 180px;
}

.contacts h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
}

.about-company {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 24px;
  margin-top: 24px;
}

.carriers {
  list-style: none;
  color: var(--basic-black);
}

.carrier-item {
  margin-bottom: 12px;
  position: relative;
}

.carrier-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -35px;;
  width: 25px;
  height: 2px;
  background-image: url("../img/carrier-prefix.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.carriers-button {
  display: inline-block;
  min-width: 220px;
  padding: 10px 40px;
}

.about-delivery {
  margin-bottom: 45px;
}

.modal-map-link {
  padding: 0;
  cursor: pointer;
}

.feedback-button {
  display: inline-block;
  min-width: 300px;
  padding: 10px 61px;
  border: none;
  cursor: pointer;
}

/*MAIN-CATALOG*/

.catalog {
  display: flex;
  margin-bottom: 59px;
}

.breadcrumbs {
  list-style: none;
  font-family: "PT Sans", Trebuchet MS, sans-serif;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  padding-left: 55px;
  position: relative;
}

.breadcrumbs::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 14px;
  height: 12px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-item {
  margin-right: 40px;
  position: relative;
}

.breadcrumbs-item::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -23px;
  width: 7px;
  height: 11px;
  background-image: url("../img/icon-breadcrumbs-forward.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a {
  color: var(--basic-black);
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 220px;
  margin-right: 20px;
  padding: 0;
}

.filter-controls {
  position: relative;
}

.filter-controls::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 220px;
  height: 1px;
  background-color: var(--basic-lightest-gray);
  opacity: 0,3;
  }

.filter-range {
  display: flex;
  justify-content: space-between;
}

.filter form {
  margin: 0;
  padding: 0;
}

.page-catalog h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--basic-background);
  text-align: left;
  padding: 20px;
  grid-column: 1 / -1;
  grid-area: filter-heading;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 220px;
  margin: 50px auto;
  margin-top: 0;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
}

.range-filter {
  width: 220px;
  margin-top: 11px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-light-beige);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-lightest-gray);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-light-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-lightest-gray);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 18px;
}

.price-controls input {
  width: 75px;
  padding: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: var(--basic-light-beige);
  font-family: inherit;
  font-size: inherit;
}

.min-price {
  position: relative;
}

.min-price::before {
  content: "_";
  position: absolute;
  top: 2px;
  left: 107px;
  width: 7px;
  height: 3px;
}

.min-price input[type='number'],
.max-price input[type='number'] {
  -moz-appearance: textfield;
}

.min-price input::-webkit-outer-spin-button,
.min-price input::-webkit-inner-spin-button,
.max-price input::-webkit-outer-spin-button,
.max-price input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.filter-controls-filter,
.filter-controls-price {
  font-family: "PT Sans", "Arial", sans-serif;
}

.filter-controls-filter {
  text-align: left;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 18px;
  display: flex;
  align-items: center;
  margin-top: 0;
  background-color: var(--basic-light-beige);
  min-width: 95px;
  height: 38px;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 3px;
}

.filter-controls-price {
  text-align: left;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-controls p {
  text-align: left;
}

.filter-brands, .filter-power {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 19px;
  border: none;
  padding: 0;
  position: relative;
}

.filter-brands-list, .filter-power-list {
  list-style: none;
  margin-bottom: 27px;;
  padding: 0;
  padding-left: 35px;
}

.filter-brands-item label,
.filter-power-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off-hover.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: 300ms ease-out;
}

.filter-input-checkbox:checked:hover + label::before,
.filter-input-checkbox:checked:focus + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on-hover.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: 300ms ease-out;
}

.filter-input-checkbox:disabled + label {
  opacity: 50%;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -4px;
  width: 26px;
  height: 25px;
  background-image: url("../img/radio-off.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -4px;
  width: 26px;
  height: 25px;
  background-image: url("../img/radio-on.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -4px;
  width: 26px;
  height: 25px;
  background-image: url("../img/radio-off-hover.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: 300ms ease-out;
}

.filter-input-radio:checked:hover + label::before,
.filter-input-radio:checked:focus + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -4px;
  width: 26px;
  height: 25px;
  background-image: url("../img/radio-on-hover.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: 300ms ease-out;
}

.filter-input-radio:disabled + label {
  opacity: 50%;
}

.filter-brands-item {
  margin-bottom: 20px;
}

.filter-power-item {
  margin-bottom: 20px;
}

.filter-brands legend {
  color: var(--basic-black);
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter-power legend {
  color: var(--basic-black);
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid var(--basic-lightest-gray);
  color: var(--basic-black);
  background-color: var(--basic-white);
  width: 220px;
  cursor: pointer;
}

.filter-button:hover {
  border: 1px solid var(--basic-light-gray);
  background-color: var(--basic-white);
  transition: 300ms ease-out;
}

.filter-button:active {
  border: 1px solid var(--basic-red);
  background-color: var(--basic-white);
  transition: 300ms ease-out;
}

.perforators-list-background {
  background-color: var(--basic-light-beige);
  height: 38px;
  position: relative;
  border-radius: 3px;
}

.perforators-list-bar {
  height: 38px;
  display: flex;
  padding-left: 19px;
  position: relative;
}

.icon-sort-down {
  position: absolute;
  top: 14px;
  right: 17px;
  fill: var(--basic-sort-buttons);
  cursor: pointer;
}

.icon-sort-up {
  position: absolute;
  top: 14px;
  right: 48px;
  fill: var(--basic-sort-buttons);
  cursor: pointer;
}

.button-sort-up,
.button-sort-down {
  border: none;
  background: none;
}

.button-sort-up {
  margin-left: 45px;
}

.button-sort-down {
  margin-left: 20px;
}

.button-sort-up:focus,
.button-sort-down:focus {
  outline: none;
}

.icon-sort-down:hover,
.icon-sort-up:hover {
  fill: var(--basic-black);
  transition: 300ms ease-out;
}

.sort-active {
  fill: var(--basic-red);
  cursor: auto;
}

.sort-active:hover {
  fill: var(--basic-red);
  cursor: auto;
  transition: 300ms ease-out;
}

.perforators-list-bar p {
  margin-top: 10px;
}

.sort-list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  width: 354px;
}

.sort {
  margin-right: 140px;
}

.sort-list li,
.sort {
  list-style: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list li {
  cursor: pointer;
}

.price a,
.item-type a,
.functions a{
  color: var(--basic-light-gray);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-dark-red);
}

.price a:hover,
.item-type a:hover,
.functions a:hover {
  color: var(--basic-black);
  text-decoration-style: solid;
  text-decoration-color: var(--basic-dark-red);
  transition: 300ms ease-out;
}

.sort-list-active a{
  color: var(--basic-red);
  text-decoration: none;
  cursor: auto;
}

.sort-list-active a:hover {
  color: var(--basic-red);
  text-decoration: none;
  transition: 300ms ease-out;
}

.catalog-items {
  list-style: none;
  display: grid;
  gap: 20px;
  grid-template-columns: 220px 220px 220px;
  padding: 0;
  margin-bottom: 48px;
}

.pagination {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  margin: 0;
  padding: 0;
}
.pagination-link a {
  display: flex;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  border: 1px solid var(--basic-lightest-gray);
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 10px;
  min-width: 38px;
  height: 38px;
  align-items: center;
  justify-content: center;
}

.pagination-link-next a {
  padding-left: 32px;
  padding-right: 31px;
}

.pagination-link a:hover {
  border: 1px solid var(--basic-light-gray);
  transition: 300ms ease-out;
}

.pagination-link a:active {
  border: 1px solid var(--basic-red);
  transition: 300ms ease-out;
}

.pagination-link-current a{
  background-color: var(--basic-red);
  color: var(--basic-white);
  border: 1px solid var(--basic-red);
  box-sizing: border-box;
  border-radius: 4px;
}

.perforators-background {
  background-color: var(--basic-background);
  padding-top: 64px;
  padding-bottom: 68px;
}

.about-perforators {
  text-align: left;
}

.about-perforators h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 25px;
}

.about-perforators p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  margin: 0;
}


/*FOOTER*/
.main-footer {
  background-color: var(--basic-gray);
}

.footer-copyright-bar {
  background-color: var(--basic-dark-gray);
}

.footer-navigation {
  min-height: 190px;
  display: grid;
  grid-template-columns: 333px 607px;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
  grid-template-areas:
  "logo nav-list"
  "footer-cont cat-list"
}

.footer-logo {
  grid-area: logo;
}

.footer-contacts {
  grid-area: footer-cont;
  line-height: 10px;
}

.footer-catalog-links {
  grid-area: cat-list;
  align-items: top;
}

.footer-copyright {
  color: var(--basic-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 107px;
}

.footer-address {
  color: var(--basic-white);
  padding: 0;
  margin: 0;
}

.footer-phone {
  margin-bottom: 0;
}

.footer-navigation-list {
  grid-area: nav-list;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.footer-navigation-item {
  margin-left: 58px;
  padding-top: 40px;
}

.footer-navigation-item:hover,
.footer-catalog-link:hover {
  text-decoration-line: underline;
  text-decoration-color: inherit;
  transition: 300ms ease-out;
}

.footer-navigation-item:active,
.footer-catalog-link:active {
  text-decoration: none;
  opacity: 50%;
  transition: 300ms ease-out;
}

.footer-catalog-links {
  list-style: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.footer-catalog-link {
  margin-left: 58px;
}

.footer-catalog-links a {
  color: var(--basic-lemon);
}

.socials {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3px;
}

.social-button {
  background-color: var(--basic-darker-gray);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
}

.social-vk {
  position: relative;
}

.social-vk::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 9px;
  width: 26px;
  height: 15px;
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-facebook {
  position: relative;
}

.social-facebook::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 16px;
  width: 12px;
  height: 22px;
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-instagram {
  position: relative;
}

.social-instagram::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-instagram.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-button:hover {
  background-color: var(--basic-red);
  transition: 300ms ease-out;
}

.copyright-link {
  color: var(--basic-lemon);
}

.copyright-link:hover {
  text-decoration-line: underline;
  text-decoration-color: inherit;
  transition: 300ms ease-out;
}

.copyright-link:active {
  text-decoration: none;
  color: var(--basic-red);
  transition: 300ms ease-out;
}

/*MODAL*/

.modal-feedback {
  width: 620px;
  height: 430px;
  padding-right: 80px;
  padding-top: 46px;
  box-shadow:
    inset 0 7px 0 0 var(--basic-red),
    0 5px 10px 5px var(--basic-black-transparent);
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--basic-white);
}

.feedback-form-buttons {
  background-color: var(--basic-light-beige);
  height: 112px;
  width: 620px;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback-form-content {
  display: grid;
  grid-template-columns: 220px 220px;
  grid-template-rows: 73px 149px auto;
  grid-template-areas:
  "name email"
  "message message"
  "submit submit";
  column-gap: 20px;
  row-gap: 13px;
  padding-left: 80px;
  margin-bottom: 37px;
}

.feedback-form-content input:focus,
.feedback-form-content textarea:focus {
  outline: none;
}

.feedback-name {
  grid-area: name;
  width: 220px;
}

.feedback-email {
  grid-area: email;
  width: 220px;
}

.feedback-message {
  grid-area: message;
}

.modal-feedback-submit-button {
  grid-area: submit;
  width: 460px;
  max-height: 38px;
  border: none;
}

.feedback-form label {
  color: var(--basic-black);
}

.feedback-form input {
  border: 2px solid var(--basic-lightest-gray);
  box-sizing: border-box;
  border-radius: 2px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-light-grey);
  font-size: 13px;
  line-height: 24px;
  margin-top: 11px;
  margin-bottom: 13px;
  padding-left: 12px;
  padding-right: 12px;
  height: 38px;
}

.feedback-form textarea {
  width: 460px;
  height: 114px;
  border: 2px solid var(--basic-lightest-gray);
  box-sizing: border-box;
  border-radius: 2px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-light-grey);
  font-size: 13px;
  line-height: 24px;
  margin-top: 11px;
  padding: 6px 12px;
  margin-bottom: 37px;
}

.modal-close {
  position: absolute;
  top: 21px;
  right: 11px;
  width: 22px;
  height: 22px;
  border: 0;
  cursor: pointer;
  background: transparent;
}

.modal-close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-map {
  width: 943px;
  height: 442px;
  box-shadow: 0 5px 10px 5px var(--basic-black-transparent);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--basic-white);
  border-top: 7px solid var(--basic-red);
}

.modal-map-close {
  position: absolute;
  top: 10px;
  right: 11px;
  width: 22px;
  height: 22px;
  border: 0;
  cursor: pointer;
  background: transparent;
}

.modal-map iframe {
  border: none;
}

.modal-map-close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-cart {
  width: 620px;
  height: 282px;
  box-shadow:
    inset 0 7px 0 0 var(--basic-red),
    0 5px 10px 5px var(--basic-black-transparent);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-cart-close {
  position: absolute;
  top: 18px;
  right: 11px;
  width: 22px;
  height: 22px;
  border: 0;
  cursor: pointer;
  background: transparent;
}

.modal-cart-close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-cart h2 {
  color: var(--basic-black);
  text-align: center;
  margin-top: 73px;
  position: relative;
  font-size: 24px;
  line-height: 30px;
}

.modal-cart h2::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icon-modal-cart.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-cart-order {
  margin-right: 10px;
  width: 192px;
}

.modal-cart-continue {
  background-color: var(--basic-white);
  color: var(--basic-black);
  width: 192px;
}

.modal-cart-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-light-beige);
  height: 112px;
  width: auto;
}

.modal-appear {
  animation-name: bounce;
  animation-duration: 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

/*BLANK*/

.blank-logo {
  background: linear-gradient(rgb(38, 2, 245), rgb(153, 1, 115));
  border-radius: 10px;
  padding: 10px;
}

.page-body-blank {
  padding: 15px;
}

.page-body-blank a {
  color: inherit;
  text-decoration: underline;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
